.title
  background: #fff
  position: relative
  .provider
    margin: 0
    height: 64px
    line-height: 64px
    color: #080808
    font-weight: 700
  .icon
    border: 1px solid #E1E1E1
    width: 87px
    height: 32px
    border-radius: 50px
    position: absolute
    top: 50%
    left: 98%
    transform: translate(-100%, -50%)
    display: flex
    justify-content: space-around
    align-items: center
    .navIcon
      width: 44px
      height: 20px
      border-right: 1px solid #a1a1a1
    .home
      width: 44px
      height: 20px