div.order_item
  background: #fff
  div.info
    padding-left: 20px
    padding-right: 10px
    div.sellerInfo
      display: flex
      justify-content: space-between
      p.storeName
        margin: 0
        font-size: 14px
        color: #414141
        height: 30px
        line-height: 30px
      i.storeDetail
        width: 50px
        height: 30px
        line-height: 30px
        text-align: right
        cursor: pointer
    div.userInfo
      border-bottom: 1px solid #DFDFDF
      display: flex
      padding-bottom: 13px
      justify-content: space-between
      span.phone
        font-size: 14px
        color: #6F6F6F
      span.orderTime
        font-size: 14px
        color: #999999
    div.orderInfo
      display: flex
      justify-content: space-between
      margin-bottom: 12px
      padding-top: 13px
      padding-bottom: 8px
      div.setNameWrap
        height: 38px
        line-height: 38px
        p.setName
          display: inline-block
          line-height: 19px
          width: 200px
          margin: 0
          font-size: 14px
          color: #6F6F6F
          text-align: left
          vertical-align: middle
      span.orderStatus
        width: 56px
        height: 38px
        line-height: 38px
        font-size: 14px
        &.success
          color: #0084CF
        &.fail
          color: #EF8C34